<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" /> 
		<title>Reaky yf</title>
		<link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon"/> 
		<link type="text/css" rel="stylesheet" href="/static/blog.css" media="screen" />
		<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script> 
		<script type="text/javascript" src="/static/blog.js"></script>
	</head>
	<body><div id="main_page">
		<div id="navi_bar">
			<ul>
				<li><a id="navi_about" href="/about"><span>About</span></a></li>
				<li><a id="navi_buzz" href="/buzz"><span>Buzz</span></a></li>
				<li><a id="navi_blog" href="/blog"><span>Blog</span></a></li>
			</ul>
		</div>
		<div id="main_content">
			<div class="post">
				<span><a href="/edit">Add a new one</a></span><br />
				{% for article in articles %}
				<span>{{ article.title|escape }}</span>
				<span><a href="/edit?id={{ article.key }}" title="edit this article">&nbsp;&nbsp;*Edit</a></span>
				<span><a href="/dele?id={{ article.key }}" title="dele this article">&nbsp;&nbsp;*Dele</a></span><br />
				{% endfor %}
			</div><!--post-->

			<p class="navpages">
			<strong>Pages</strong>({{ num }}) :
			{% ifnotequal topage 1 %}
			<a href="admin?p=1">First </a>
			<a href="admin?p={{ topage|add:"-1" }}">Prev </a>
			{% endifnotequal %}

			{% for page in numlist %}
			{% ifequal page topage %}
			<strong> {{ topage }} </strong>
			{% else %}
			<a href="admin?p={{ page }}">{{ page }} </a>
			{% endifequal %}
			{% endfor %}

			{% ifnotequal topage num %}
			<a href="admin?p={{ topage|add:"1" }}">Next </a>
			<a href="admin?p={{ num }}">Last </a>
			{% endifnotequal %}
			</p><!--navpages-->
		</div>
	</div></body>
</html>
