body {
	background:#DDDDBB none repeat scroll 0% 0%;
	font-family: Verdana, Helvetica, sans-serif;
	font-size:16px;
	line-height: 1.6;
	margin: 5px 10px;
	padding: 0px;
	text-align: left;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85; 
}

header nav {
	float: left;
	width: 100%;
	background: #BBD9EE;
	line-height: normal;
}

header nav ul li {
	display: inline;
	list-style: none;
	margin: 10px;
	font-size:23px;
	text-shadow: 3px 3px 5px #CCC
}
section #main_content {
	margin:0px;
	padding:0px;
}
article {
	margin: 10px 0px;
	background: #ADDEEC none repeat scroll 0% 0%;
}
article .article_key {
	height:0px;
	visibility: hidden;
}
article .article_title {
	margin:0px;
	padding:5px;
	background: #ecf6d1 none repeat scroll 0% 0%;
	font-size:24px;
	font-weight: 400;
	font-family: Helvetica,"Microsoft YaHei",STHeiti,Georgia, "Times New Roman", Times, serif;
}
article .article_time {
	display: inline-block;
	float: right;
	margin: -40px 0px;
	padding:5px 0px;
	font-size:18px;
}
article .article_time .article_time_month {
	display: inline;
	margin: 0px;
}
article .article_time .article_time_day{
	display: inline;
	margin: 0px;
	font-size:35px;
}
article .article_content {
	margin:0pt;
	padding:5px;
	font-size:16px;
	font-family: Helvetica,"Microsoft YaHei",STHeiti,Georgia,Times,Verdana,Arial,sans-serif;
	text-align: justify;
	line-height: 1.6;
}
section #article_comment {
	margin: 5px;
	padding: 2px;
	font-size:16px;
	font-family: Helvetica,"Microsoft YaHei",STHeiti,Georgia,Times,Verdana,Arial,sans-serif;
}
.comment_auth {
	display: inline-block;
}
.comment_content {
	display: inline-block;
}
.comment_date {
	display: inline-block;
	float:right;
}
#comment_form {
	display:block;
	margin: 5px 3px;
}
input[type=text] {
	display:inline-block;
	width: 200px;
	margin: 0px 8px 0px 0px;
	border-radius: 5px; 
	font-size:16px;
}
input[type=submit] {
	display: inline-block;
	float: right;
	border-radius: 5px; 
	font-size:16px;
}
textarea {
	border:2px solid blue;
	border-radius: 5px; 
	font-size:16px;
	width:100%;
}
input:hover, textarea:hover {
	border: 3px 0px solid #a2d7ec;
}
input:focus, textarea:focus {
	border: 10px 0px solid #6fb6ea;
	outline: 5px;
}
a:link {color: #0066cc;}
a:visited {color: #794EAD;}
a:hover {color: #1F3A87;}

footer {
	margin:0pt;
	padding:2px 0pt;
	color:#999999;
	text-align:center;
	font-family:Arial,PmingLiu,sans-serif;
	font-size:13px;
}
footer nav {
	float: left;
	width: 100%;
	background: #BBD9EE;
	line-height: normal;
}
#nav_prev {
	display: inline-block;
	float: left;
	font-color: white;
	font-size: 40px;
	width:50%;
}
#nav_next {
	display: inline-block;
	float: right;
	font-color: white;
	font-size: 40px;
	width:50%;
}

blockquote {
	border:2px solid #cce392;
	background:transparent url(img/blockquote.gif) no-repeat scroll left top;
	text-indent:0px;
	color:#666666;
	margin:1em;
	padding:0pt 0pt 5px 50px;
	margin: 5px 10px;
}

pre, code {
	display: block;
	font-size: 9pt;
	font-family: 'Courier New';
	overflow: auto;
	max-width: 530px;
}
