{% for article in articles %}<div class="article">
	<div class="article_title">{{ article.title|escape }}</div>
	<div class="article_time">
		<div class="article_time_month">{{ article.date|date:"M"}}</div>
		<div class="article_time_day">{{ article.date|date:"j"}}</div>
	</div>
	<div class="article_content">{{ article.content }}</div>
	<div class="article_comment">
		<div class="comments_posted"></div>
		<form class="comment_form" action="/addcomment" method="post">
			<div>
				<input type="text" name="auth" value="Name" />
				<input type="text" name="email" value="Email" />
				<input name="submit" type="submit" value="Submit" />
			</div>
			<div><input type="hidden" name="article_key" class="article_key" value="{{ article.key }}" /></div>
			<div><textarea name="content" rows="" cols="" value="要不留下点什么？"></textarea></div>
		</form>
	</div>
</div>{% endfor %}

<div id="navpages"><p>
<strong>Pages</strong>({{ num }}) :
{% ifnotequal topage 1 %}
<a href="/?p=1">First </a>
<a href="/?p={{ topage|add:"-1" }}">Prev </a>
{% endifnotequal %}

{% for page in numlist %}
{% ifequal page topage %}
<strong> {{ topage }} </strong>
{% else %}
<a href="/?p={{ page }}">{{ page }} </a>
{% endifequal %}
{% endfor %}

{% ifnotequal topage num %}
<a href="/?p={{ topage|add:"1" }}">Next </a>
<a href="/?p={{ num }}">Last </a>
{% endifnotequal %}
</p></div><!--navpages-->
