<span>
	<img src="/static/img/vi.powered.by.sven.gif" alt="Written in vim" title="Written in vim" />
	W3C 
	<a href="http://validator.w3.org/check?uri=http%3A%2F%2Freaky.appspot.com%2F">HTML</a>&amp;
	<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Freaky.appspot.com%2F">CSS</a>

	valid.
	UTF-8 encoded.
</span><br />
<span>© 2008 reaky All rights reserved, all wrongs observed.</span><br />
<span>Powered by Python HTML CSS jQuery Yaml</span>

<!--the start of the google analytics code-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15130903-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!--the end of the google analytics code-->
